body {
  background-color: #eeddb4;
}

body {
  background-color: #eeddb4;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
a {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #1a1a1a;
}
a:hover {
  cursor: pointer;
}

p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
}

.search_filter label, .pagination label {
  font-size: 12.6px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: uppercase;
}
.search_filter select, .search_filter option, .pagination select, .pagination option {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}

.searchbar input {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}

button.login_btn {
  font-size: 16.8px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}
button.login_btn:hover {
  font-weight: bold;
  color: #973e3e;
}
button.login_btn_submit {
  text-transform: uppercase;
}

button.filter_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #fffcf6;
  text-transform: uppercase;
}

.movie_card_info {
  font-family: "Roboto", sans-serif;
  color: #fffaec;
  text-transform: capitalize;
  line-height: 200%;
}
.movie_card_info h2 {
  font-size: 28px;
  margin-bottom: 30px;
}
.movie_card_info h3 {
  font-size: 14px;
}
.movie_card_info p {
  font-size: 11.2px;
}

.card-body {
  font-family: "Roboto", sans-serif;
  color: #fffaec;
  text-transform: capitalize;
  line-height: 120%;
}
.card-body .card-title {
  font-size: 15.4px;
  color: #fffaec;
  margin-bottom: 10px;
}
.card-body .card-text {
  font-size: 12.6px;
  color: #fffaec;
}

button.delete_btn, button.edit_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #fffcf6;
  text-transform: uppercase;
}
button.delete_btn:hover, button.edit_btn:hover {
  font-weight: bold;
}

button.rate_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #ab5d5d;
  text-transform: uppercase;
}
button.rate_btn:hover {
  font-weight: bold;
}

.login_btn {
  background: none;
  border: none;
  padding: 16px 24px 16px;
}
.login_btn:hover {
  cursor: pointer;
}
.login_btn_submit {
  background-color: #eeddb4;
  border: none;
  padding: 16px;
}

.filter_btn {
  background-color: #973e3e;
  border: none;
  padding: 8px;
}
.filter_btn:hover {
  cursor: pointer;
  box-shadow: 0 5px 5px 0px #ab5d5d;
}

.delete_btn, .edit_btn {
  background-color: #973e3e;
  border: none;
  padding: 8px;
  width: 55px;
}
.delete_btn:hover, .edit_btn:hover {
  cursor: pointer;
}

.rate_btn {
  background-color: #fffaec;
  border: none;
  padding: 8px;
  margin: 20px;
}
.rate_btn:hover {
  cursor: pointer;
  box-shadow: 0 3px 5px 0px #ab5d5d;
}

body {
  background-color: #eeddb4;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.container--fluid {
  width: 100%;
}

[class*=col-] {
  box-sizing: border-box;
  padding: 8px;
}

.row {
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
}

@media screen and (max-width: 768px) {
  .row::-webkit-scrollbar {
    display: none;
  }
}
.col-lg-1 {
  width: calc(8.3333333333% - 8px);
}

.col-lg-2 {
  width: calc(16.6666666667% - 8px);
}

.col-lg-3 {
  width: calc(25% - 8px);
}

.col-lg-4 {
  width: calc(33.3333333333% - 8px);
}

.col-lg-5 {
  width: calc(41.6666666667% - 8px);
}

.col-lg-6 {
  width: calc(50% - 8px);
}

.col-lg-7 {
  width: calc(58.3333333333% - 8px);
}

.col-lg-8 {
  width: calc(66.6666666667% - 8px);
}

.col-lg-9 {
  width: calc(75% - 8px);
}

.col-lg-10 {
  width: calc(83.3333333333% - 8px);
}

.col-lg-11 {
  width: calc(91.6666666667% - 8px);
}

.col-lg-12 {
  width: calc(100% - 8px);
}

@media screen and (max-width: 1024px) {
  .col-lg-6 {
    width: calc(100% - 8px);
  }
  .col-lg-7 {
    width: calc(100% - 8px);
  }
  .col-lg-8 {
    width: calc(100% - 8px);
  }
  .col-lg-9 {
    width: calc(100% - 8px);
  }
  .col-lg-10 {
    width: calc(100% - 8px);
  }
  .col-lg-11 {
    width: calc(100% - 8px);
  }
  .col-lg-12 {
    width: calc(100% - 8px);
  }
}
@media screen and (max-width: 768px) {
  .col-lg-1 {
    width: calc(100% - 8px);
  }
  .col-lg-2 {
    width: calc(100% - 8px);
  }
  .col-lg-3 {
    width: calc(100% - 8px);
  }
  .col-lg-4 {
    width: calc(100% - 8px);
  }
  .col-lg-5 {
    width: calc(100% - 8px);
  }
  .col-lg-6 {
    width: calc(100% - 8px);
  }
  .col-lg-7 {
    width: calc(100% - 8px);
  }
  .col-lg-8 {
    width: calc(100% - 8px);
  }
  .col-lg-9 {
    width: calc(100% - 8px);
  }
  .col-lg-10 {
    width: calc(100% - 8px);
  }
  .col-lg-11 {
    width: calc(100% - 8px);
  }
  .col-lg-12 {
    width: calc(100% - 8px);
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #eeddb4;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
a {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #1a1a1a;
}
a:hover {
  cursor: pointer;
}

p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
}

.search_filter label, .pagination label {
  font-size: 12.6px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: uppercase;
}
.search_filter select, .search_filter option, .pagination select, .pagination option {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}

.searchbar input {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}

button.login_btn {
  font-size: 16.8px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}
button.login_btn:hover {
  font-weight: bold;
  color: #973e3e;
}
button.login_btn_submit {
  text-transform: uppercase;
}

button.filter_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #fffcf6;
  text-transform: uppercase;
}

.movie_card_info {
  font-family: "Roboto", sans-serif;
  color: #fffaec;
  text-transform: capitalize;
  line-height: 200%;
}
.movie_card_info h2 {
  font-size: 28px;
  margin-bottom: 30px;
}
.movie_card_info h3 {
  font-size: 14px;
}
.movie_card_info p {
  font-size: 11.2px;
}

.card-body {
  font-family: "Roboto", sans-serif;
  color: #fffaec;
  text-transform: capitalize;
  line-height: 120%;
}
.card-body .card-title {
  font-size: 15.4px;
  color: #fffaec;
  margin-bottom: 10px;
}
.card-body .card-text {
  font-size: 12.6px;
  color: #fffaec;
}

button.delete_btn, button.edit_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #fffcf6;
  text-transform: uppercase;
}
button.delete_btn:hover, button.edit_btn:hover {
  font-weight: bold;
}

button.rate_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #ab5d5d;
  text-transform: uppercase;
}
button.rate_btn:hover {
  font-weight: bold;
}

body {
  background-color: #eeddb4;
}

body {
  background-color: #eeddb4;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
a {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #1a1a1a;
}
a:hover {
  cursor: pointer;
}

p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
}

.search_filter label, .pagination label {
  font-size: 12.6px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: uppercase;
}
.search_filter select, .search_filter option, .pagination select, .pagination option {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}

.searchbar input {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}

button.login_btn {
  font-size: 16.8px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}
button.login_btn:hover {
  font-weight: bold;
  color: #973e3e;
}
button.login_btn_submit {
  text-transform: uppercase;
}

button.filter_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #fffcf6;
  text-transform: uppercase;
}

.movie_card_info {
  font-family: "Roboto", sans-serif;
  color: #fffaec;
  text-transform: capitalize;
  line-height: 200%;
}
.movie_card_info h2 {
  font-size: 28px;
  margin-bottom: 30px;
}
.movie_card_info h3 {
  font-size: 14px;
}
.movie_card_info p {
  font-size: 11.2px;
}

.card-body {
  font-family: "Roboto", sans-serif;
  color: #fffaec;
  text-transform: capitalize;
  line-height: 120%;
}
.card-body .card-title {
  font-size: 15.4px;
  color: #fffaec;
  margin-bottom: 10px;
}
.card-body .card-text {
  font-size: 12.6px;
  color: #fffaec;
}

button.delete_btn, button.edit_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #fffcf6;
  text-transform: uppercase;
}
button.delete_btn:hover, button.edit_btn:hover {
  font-weight: bold;
}

button.rate_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #ab5d5d;
  text-transform: uppercase;
}
button.rate_btn:hover {
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal_content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

#loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5% auto;
  width: 50%;
  text-align: center;
}
#loginForm input {
  margin: 5px;
}

#registerForm {
  display: none;
}

.close {
  float: right;
  cursor: pointer;
}

body {
  background-color: #eeddb4;
}

body {
  background-color: #eeddb4;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
a {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #1a1a1a;
}
a:hover {
  cursor: pointer;
}

p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
}

.search_filter label, .pagination label {
  font-size: 12.6px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: uppercase;
}
.search_filter select, .search_filter option, .pagination select, .pagination option {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}

.searchbar input {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}

button.login_btn {
  font-size: 16.8px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}
button.login_btn:hover {
  font-weight: bold;
  color: #973e3e;
}
button.login_btn_submit {
  text-transform: uppercase;
}

button.filter_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #fffcf6;
  text-transform: uppercase;
}

.movie_card_info {
  font-family: "Roboto", sans-serif;
  color: #fffaec;
  text-transform: capitalize;
  line-height: 200%;
}
.movie_card_info h2 {
  font-size: 28px;
  margin-bottom: 30px;
}
.movie_card_info h3 {
  font-size: 14px;
}
.movie_card_info p {
  font-size: 11.2px;
}

.card-body {
  font-family: "Roboto", sans-serif;
  color: #fffaec;
  text-transform: capitalize;
  line-height: 120%;
}
.card-body .card-title {
  font-size: 15.4px;
  color: #fffaec;
  margin-bottom: 10px;
}
.card-body .card-text {
  font-size: 12.6px;
  color: #fffaec;
}

button.delete_btn, button.edit_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #fffcf6;
  text-transform: uppercase;
}
button.delete_btn:hover, button.edit_btn:hover {
  font-weight: bold;
}

button.rate_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #ab5d5d;
  text-transform: uppercase;
}
button.rate_btn:hover {
  font-weight: bold;
}

.movie_card_thumbnail {
  background-color: rgba(26, 26, 26, 0.8);
  margin-top: 8px;
  min-height: 120px;
  padding: 40px;
  min-width: 200px;
}
.movie_card_thumbnail .card-body {
  display: flex;
  flex-direction: column;
}
.movie_card_thumbnail .card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.movie_card_thumbnail .card-img img {
  max-width: 180px;
  aspect-ratio: 2/3;
  -o-object-fit: cover;
     object-fit: cover;
}
.movie_card_thumbnail .admin_crud {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

body {
  background-color: #eeddb4;
}

body {
  background-color: #eeddb4;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
a {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #1a1a1a;
}
a:hover {
  cursor: pointer;
}

p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
}

.search_filter label, .pagination label {
  font-size: 12.6px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: uppercase;
}
.search_filter select, .search_filter option, .pagination select, .pagination option {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}

.searchbar input {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}

button.login_btn {
  font-size: 16.8px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}
button.login_btn:hover {
  font-weight: bold;
  color: #973e3e;
}
button.login_btn_submit {
  text-transform: uppercase;
}

button.filter_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #fffcf6;
  text-transform: uppercase;
}

.movie_card_info {
  font-family: "Roboto", sans-serif;
  color: #fffaec;
  text-transform: capitalize;
  line-height: 200%;
}
.movie_card_info h2 {
  font-size: 28px;
  margin-bottom: 30px;
}
.movie_card_info h3 {
  font-size: 14px;
}
.movie_card_info p {
  font-size: 11.2px;
}

.card-body {
  font-family: "Roboto", sans-serif;
  color: #fffaec;
  text-transform: capitalize;
  line-height: 120%;
}
.card-body .card-title {
  font-size: 15.4px;
  color: #fffaec;
  margin-bottom: 10px;
}
.card-body .card-text {
  font-size: 12.6px;
  color: #fffaec;
}

button.delete_btn, button.edit_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #fffcf6;
  text-transform: uppercase;
}
button.delete_btn:hover, button.edit_btn:hover {
  font-weight: bold;
}

button.rate_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #ab5d5d;
  text-transform: uppercase;
}
button.rate_btn:hover {
  font-weight: bold;
}

.movie_card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}
.movie_card_info {
  background-color: rgba(26, 26, 26, 0.8);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  gap: 20px;
}
.movie_card_info .movie-img img {
  max-width: 300px;
  aspect-ratio: 2/3;
  -o-object-fit: cover;
     object-fit: cover;
}
.movie_card_rating img {
  max-width: 100px;
}
.movie_card_rating .search_filter label {
  display: flex;
  align-items: flex-end;
  margin-bottom: 4px;
}
.movie_card_rating .search_filter select, .movie_card_rating .search_filter option {
  background-color: #fffaec;
  border: none;
  outline: none;
  width: 100%;
  padding: 8px;
}

body {
  background-color: #eeddb4;
}

body {
  background-color: #eeddb4;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
a {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #1a1a1a;
}
a:hover {
  cursor: pointer;
}

p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
}

.search_filter label, .pagination label {
  font-size: 12.6px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: uppercase;
}
.search_filter select, .search_filter option, .pagination select, .pagination option {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}

.searchbar input {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}

button.login_btn {
  font-size: 16.8px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}
button.login_btn:hover {
  font-weight: bold;
  color: #973e3e;
}
button.login_btn_submit {
  text-transform: uppercase;
}

button.filter_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #fffcf6;
  text-transform: uppercase;
}

.movie_card_info {
  font-family: "Roboto", sans-serif;
  color: #fffaec;
  text-transform: capitalize;
  line-height: 200%;
}
.movie_card_info h2 {
  font-size: 28px;
  margin-bottom: 30px;
}
.movie_card_info h3 {
  font-size: 14px;
}
.movie_card_info p {
  font-size: 11.2px;
}

.card-body {
  font-family: "Roboto", sans-serif;
  color: #fffaec;
  text-transform: capitalize;
  line-height: 120%;
}
.card-body .card-title {
  font-size: 15.4px;
  color: #fffaec;
  margin-bottom: 10px;
}
.card-body .card-text {
  font-size: 12.6px;
  color: #fffaec;
}

button.delete_btn, button.edit_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #fffcf6;
  text-transform: uppercase;
}
button.delete_btn:hover, button.edit_btn:hover {
  font-weight: bold;
}

button.rate_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #ab5d5d;
  text-transform: uppercase;
}
button.rate_btn:hover {
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: end;
  box-sizing: border-box;
  padding: 10px 20px;
  background-color: #eeddb4;
}
.navbar_logo img {
  height: 60px;
}

.nav__logo {
  display: inline-block;
  position: absolute;
}
.nav__logo img {
  height: 60px;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
}
body {
  background-color: #eeddb4;
}

body {
  background-color: #eeddb4;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
a {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #1a1a1a;
}
a:hover {
  cursor: pointer;
}

p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
}

.search_filter label, .pagination label {
  font-size: 12.6px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: uppercase;
}
.search_filter select, .search_filter option, .pagination select, .pagination option {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}

.searchbar input {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}

button.login_btn {
  font-size: 16.8px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}
button.login_btn:hover {
  font-weight: bold;
  color: #973e3e;
}
button.login_btn_submit {
  text-transform: uppercase;
}

button.filter_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #fffcf6;
  text-transform: uppercase;
}

.movie_card_info {
  font-family: "Roboto", sans-serif;
  color: #fffaec;
  text-transform: capitalize;
  line-height: 200%;
}
.movie_card_info h2 {
  font-size: 28px;
  margin-bottom: 30px;
}
.movie_card_info h3 {
  font-size: 14px;
}
.movie_card_info p {
  font-size: 11.2px;
}

.card-body {
  font-family: "Roboto", sans-serif;
  color: #fffaec;
  text-transform: capitalize;
  line-height: 120%;
}
.card-body .card-title {
  font-size: 15.4px;
  color: #fffaec;
  margin-bottom: 10px;
}
.card-body .card-text {
  font-size: 12.6px;
  color: #fffaec;
}

button.delete_btn, button.edit_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #fffcf6;
  text-transform: uppercase;
}
button.delete_btn:hover, button.edit_btn:hover {
  font-weight: bold;
}

button.rate_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #ab5d5d;
  text-transform: uppercase;
}
button.rate_btn:hover {
  font-weight: bold;
}

.search_filters, .pagination {
  background-color: #eeddb4;
  padding: 20px;
}

.search_filter label {
  display: flex;
  align-items: flex-end;
  margin-bottom: 4px;
}
.search_filter select, .search_filter option {
  background-color: #fffaec;
  border: none;
  outline: none;
  width: 100%;
  padding: 8px;
}

.apply_filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 20px;
}
.pagination select, .pagination option {
  background: none;
  border: none;
  outline: none;
  padding: 8px;
  width: 50px;
}

body {
  background-color: #eeddb4;
}

body {
  background-color: #eeddb4;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
a {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #1a1a1a;
}
a:hover {
  cursor: pointer;
}

p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
}

.search_filter label, .pagination label {
  font-size: 12.6px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: uppercase;
}
.search_filter select, .search_filter option, .pagination select, .pagination option {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}

.searchbar input {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}

button.login_btn {
  font-size: 16.8px;
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  text-transform: capitalize;
}
button.login_btn:hover {
  font-weight: bold;
  color: #973e3e;
}
button.login_btn_submit {
  text-transform: uppercase;
}

button.filter_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #fffcf6;
  text-transform: uppercase;
}

.movie_card_info {
  font-family: "Roboto", sans-serif;
  color: #fffaec;
  text-transform: capitalize;
  line-height: 200%;
}
.movie_card_info h2 {
  font-size: 28px;
  margin-bottom: 30px;
}
.movie_card_info h3 {
  font-size: 14px;
}
.movie_card_info p {
  font-size: 11.2px;
}

.card-body {
  font-family: "Roboto", sans-serif;
  color: #fffaec;
  text-transform: capitalize;
  line-height: 120%;
}
.card-body .card-title {
  font-size: 15.4px;
  color: #fffaec;
  margin-bottom: 10px;
}
.card-body .card-text {
  font-size: 12.6px;
  color: #fffaec;
}

button.delete_btn, button.edit_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #fffcf6;
  text-transform: uppercase;
}
button.delete_btn:hover, button.edit_btn:hover {
  font-weight: bold;
}

button.rate_btn {
  font-size: 11.2px;
  font-family: "Roboto", sans-serif;
  color: #ab5d5d;
  text-transform: uppercase;
}
button.rate_btn:hover {
  font-weight: bold;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 20px 40px;
  background-color: #eeddb4;
}
.searchbar input {
  background-color: #fffaec;
  border: none;
  outline: none;
  width: 80%;
  padding: 10px 8px 10px;
}

.searchResultItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}/*# sourceMappingURL=styles.css.map */