@import "../parcials/colors";
@import "../parcials/typo";
@import "../parcials/mixins";

$logoHeight: 60px;

.navbar {
    @include flex(space-between, end);
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: $bg-dark-bege;

    &_logo {
        img {
            height: $logoHeight;
        }
    }
}

.nav__logo{
    display: inline-block;
    position: absolute;
    img {
        height: $logoHeight;
    }
}


@media screen and (max-width: 768px) {
    .navbar {
        @include flex(center, center);
        flex-direction: column;
        gap: 10px;
	}
}