@import "../parcials/colors";
@import "../parcials/typo";
@import "../parcials/mixins";


.searchbar {
    @include flex(center, center);
    flex-direction: column;
    padding: 60px 20px 40px;
    background-color: $bg-dark-bege;
    input{
        background-color: $bg-light-bege;
        border: none;
        outline: none;
        width: 80%;
        padding: 10px 8px 10px;
    }
}

.searchResultItem{
    @include flex(center, center);
    margin-top: 15px;
}