@import "../parcials/mixins";
@import "../parcials/colors";

@font-face {
	font-family: 'Roboto', sans-serif;
	src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}


a {
	@include fontSize(1);
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: $p-color-black;
	&:hover {
		cursor: pointer;
	}
}

p, span {
	@include fontSize(1);
	font-family: 'Roboto', sans-serif;
	color: $p-color-black;
}

.search_filter, .pagination {
    label {
        @include fontSize(0.9);
        font-family: 'Roboto', sans-serif;
        color: $p-color-black;
        text-transform: uppercase;
    }
	select, option {
        @include fontSize(0.8);
        font-family: 'Roboto', sans-serif;
        color: $p-color-black;
        text-transform: capitalize;
    }
}

.searchbar {
    input {
        @include fontSize(0.8);
        font-family: 'Roboto', sans-serif;
        color: $p-color-black;
        text-transform: capitalize;
    }
}

button.login_btn {
	@include fontSize(1.2);
	font-family: 'Roboto', sans-serif;
	color: $p-color-black;
	text-transform: capitalize;
    &:hover{
        font-weight: bold;
		color: $p-color-wine;
    }

	&_submit{
        text-transform: uppercase;
    }
}

button.logout_btn {
	@include fontSize(1.2);
	font-family: 'Roboto', sans-serif;
	color: $p-color-black;
	text-transform: capitalize;
    &:hover{
        font-weight: bold;
    }
}

.modal_content {
	font-family: 'Roboto', sans-serif;
	color: $p-color-black;
	line-height: 200%;

	h2{
		@include fontSize(1.2);
		margin-bottom: 20px;
	}

	p{
		margin-top: 20px;
	}
}

button.filter_btn {
	@include fontSize(0.8);
	font-family: 'Roboto', sans-serif;
	color: $p-color-white;
	text-transform: uppercase;
}

.movie_card_info {
	font-family: 'Roboto', sans-serif;
	color: $bg-light-bege;
	text-transform: capitalize;
	line-height: 200%;

	h2{
		@include fontSize(2);
		margin-bottom: 30px;
	}

	h3{
		@include fontSize(1);
	}

	p{
		@include fontSize(0.8);
	}
}

.card-body {
	font-family: 'Roboto', sans-serif;
	color: $bg-light-bege;
	text-transform: capitalize;
	line-height: 120%;

	.card-title{
		@include fontSize(1.1);
		color: $bg-light-bege;
		margin-bottom: 10px;
	}

	.card-text{
		@include fontSize(0.9);
		color: $bg-light-bege;
	}
}

button.delete_btn, button.edit_btn {
	@include fontSize(0.8);
	font-family: 'Roboto', sans-serif;
	color: $p-color-white;
	text-transform: uppercase;
	&:hover{
        font-weight: bold;
    }
}

button.rate_btn {
	@include fontSize(0.8);
	font-family: 'Roboto', sans-serif;
	color: $bg-light-wine;
	text-transform: uppercase;
	&:hover{
        font-weight: bold;
    }
}

.rating_review {
	@include fontSize(1);
	font-family: 'Roboto', sans-serif;
	color: $p-color-black;
}